# ====== Python (FastAPI) ======
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db
*.sqlite3
instance/
.env
.venv/
venv/
.env.local
*.log

# Cache e configs temporários
*.egg-info/
*.egg
*.pid
*.bak
*.swp
*.tmp
*.DS_Store

# VSCode, PyCharm etc.
.vscode/
.idea/

# ====== Java (Maven App) ======
# Compilação
/target/
/out/
/build/
*.class
*.jar
*.war
*.ear

# Logs e cache
*.log
hs_err_pid*

# Config local
application.properties
*.properties
.properties/
.properties

# IDEs
/.classpath
/.project
/.settings/
.idea/
*.iml

# ====== Git e SO ======
*.orig
Thumbs.db
.DS_Store

node_modules/*
/node_modules/
node_modules
.node_modules/
package-lock.json
.env.local
